<html>
    <body>
        <h2>
            Hola {{empleado.nombre}} {{empleado.apellido}}, esta es mi cuarta plantilla<br>
            Hoy es {{fecha_actual.year}}/{{fecha_actual.month}}/{{fecha_actual.day}}
        </h2>
        <p>
            El empleado trabaja los dias:
        </p>
        {% if dias_laborables %}
            <ul>
                {% for elemento in dias_laborables %}
                <li>
                    {{elemento}}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>
